@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-check"></i> Categories
            <a class="btn btn-sm btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle" /> Add Category</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Search category..." Callback=@FilterCallBack />
        <GenericList MyList="Categories">
            <Body>
                <NgAir.FrontEnd.Shared.Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync" 
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a @onclick=@(() => ShowModalAsync(category.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Edit</a>
                                    <button @onclick=@(() => DeleteAsycn(category)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>