@using AntDesign.TableModels
@using System.ComponentModel
@using System.Net.Http.Headers
@inject HttpClient Http

@page "/categories2"


<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-check"></i> Categories
            <a class="btn btn-sm btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle" /> Add Category</a>
        </span>
    </div>
    <div class="card-body">

        <Table TItem="Category"
               DataSource="Categories"
               Loading="Loading"
               Total="_total"
               OnChange="HandleTableChange"
               RemoteDataSource RowKey="x=>x.Id" @bind-SelectedRows="_items">
            <Selection />
            <AntDesign.PropertyColumn Style="width:20%;" Property="c=>c.Name" Sortable DefaultSortOrder="AntDesign.SortDirection.Ascending">
                @context.Name
            </AntDesign.PropertyColumn>
            <AntDesign.PropertyColumn Style="width:20%;" Property="c=>c.Name" Filters="_genderFilters" />
            <AntDesign.PropertyColumn Property="c=>c.Name" />
            <ActionColumn Title="Action">
                <Space>
                    <SpaceItem><Button Type="@AntDesign.ButtonType.Primary" Block OnClick="()=>ShowModalAsync(context.Id, true)">Edit</Button></SpaceItem>
                    <SpaceItem><Button Danger OnClick="()=>DeleteAsycn(context)">Remove</Button></SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </div>
</div>



