@typeparam TModel where TModel : IEntityWithName

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Label</label>
        <div>
            <InputText class="form-control" @bind-Value="@Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>
    <Button HtmlType="submit" Type="primary" Icon="@IconType.Outline.Save">Save</Button>
</EditForm>